

html, body {
  margin: 0;
  padding: 0;
} 

#root{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  justify-content: space-between;
  
}

.border{
  border: 5px solid black;
}
.mapSpace-size {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27282d;
  user-select: none;
  overflow: hidden;
  flex-grow: 1;
  height: 94.67vh;
  position: relative;
  
}

.containers-container{
  display: inline-block;
  position: relative;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
  /* flex-grow: 1; */
  
}

.container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(49, minmax(min-content, 1fr));
  grid-template-rows: repeat(49, minmax(min-content, 0.9fr));
  box-shadow: 0 0 15vh darkgray;
  /* flex-grow: 1; */
  max-width: 100%;
  max-height: 100%;
}

.map{
  display: flex;
  max-width: 100%;
  width:100%;
  max-height:85vh;
  height: auto;
  grid-area: 1/1/50/50;
}

.centered{
  display: flex;
  justify-content: center;
}

.vertical-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-items-centered{
  justify-content: center;
}

.column{
  flex-direction: column;
  justify-content: flex-start;
}

.city{
  position: absolute;
  z-index: 3;
  user-select: none;
  width:10%;
  height: auto;
  
}

.city:hover {
  animation-name: hovered;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

 @keyframes hovered {
   0% {
    scale:100%;
   }

   100% {
    scale:120%;
   }
 }

.city:active{
  opacity: 70%;
}
  
  .leftColumn {
    width:10%;
    background-color: darkgray;
  }
  
  .rightColumn {
    width:20vw;
    height:94.7vh;
    background-image: linear-gradient(to bottom, #2f3034, #27282d 15%);
    border-left: 4px solid black;
    border-right: 4px solid black;
  }

  .libraryContainer{
    overflow: auto;
    height: 100%
  }
  
  .navBar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navBar > div {
    flex-grow: 1;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back-arrow {
   scale: 200%;
   align-self: flex-start;
   left: 2%;
   top: 2%;
   position: absolute;
   z-index: 10;
  }
  .back-arrow:hover{
    cursor: pointer;
  }

  .expander {
    scale: 200%;
   align-self: flex-start;
   left: 95%;
   top: 2%;
   position: absolute;
   z-index: 10;
  }

  .expander:hover{
    cursor: pointer;
  }

  .city-delete {
    scale: 400%;
    align-self: flex-start;
    left: 88%;
    top: 94%;
    position: absolute;
    z-index: 3;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .25vh;
    padding-bottom: .25vh;
  }


  .thumbnail{
    width: 7vw;
    margin:1vw;
  }

  .flex{
    display: flex;
  }

  .library-item{
    background-image: linear-gradient(to bottom, #2f3034, #27282d 20%,#27282d 80%, #2f3034 100%);
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
  }
  

  .dragging {
    opacity: 50%;
  }

  .absolute{
    position: absolute;
  }

  .add-button-size{
    height:100%;
    scale: 1.5;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
  }
  .add-button-size:hover{
    animation-name: hoveredLibraryButtons;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
  }

  @keyframes hoveredLibraryButtons {
    0% {
     scale:1.5;
    }
 
    100% {
     scale:3;
    }
  }

  .editing {
    position: absolute;
    z-index: 3;
    user-select: none;
    animation-name: hovered;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .edit-arrow-left{
    position: relative;
    
  }
  .preview{
    max-height: 20%;
  }

  .preview-window{
    border: 2px solid black;
    border-left: none;
    width:100%;
  }

  .createClickableButton{
    width:100%;
    height:4vh;
    background-image: linear-gradient(to bottom, #2f3034, #27282d 25%,#27282d 75%, #2f3034 100%);
    border: none;
  }

  .createIconWords:hover{
    cursor: pointer;
    animation-name: hovered;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .profileInfo{
    border-bottom: 4px solid black;
    display: flex;
    background-color: #27282d;
    height: 5vh;
    justify-content: flex-end;
  }

  .profilePic{
    position: relative;
    height: 4vh;
    margin-right: 1vw;
  }

  .profileName{
    position: relative;
    height: 4vh;
    margin-top: .5vh;
    margin-right: 2vw;
    
    }

  .profileHome{
    position: relative;
    height: 4vh;
    margin-left: 1vw;
    margin-top: .5vh;
    margin-right: auto;
    
  }  

  .profileHome:hover{
    cursor: pointer;
  }
  .loginForm{
    display:flex;
    flex-direction: column;
    background-color: rgb(190, 190, 190);
    background-color: #27282d;
    align-items: center;
    flex-direction: column;
    height: 94.7vh;
    width:100%;
    }

  .loginForm > * {
    width:25vw;
  }

  .navbarIcon{
    width:80%;
    
  }

  .navItem{
    border-bottom: 4px solid black;
  }

  .navItem:hover{
    cursor: pointer;
  }
.currentWorld{
  width:100%;
}  

.worldSelectAndEditMode{
  display: flex;
}

.world-select {
width:50%;
}

.homePage{
  background-color: #27282d;
  display: flex;
  align-items: center;
  flex-direction: column;
}  

.mapSelectorContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.mapSelector{
  max-height:50vh;
  background-image: linear-gradient(to bottom, #2f3034, #27282d 25%,#27282d 75%, #2f3034 100%);
  border: 3px solid black;
  border-radius: 5%;
  aspect-ratio: 9/16;
  margin: 1%;
  width: 15vw;
  text-align: center;
  overflow: hidden;
}

.mapSelector > img {
  height: 80%
}

.mapSelector:hover{
  animation-name: hoveredMapSelectors;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes hoveredMapSelectors {
  0% {
   scale:1;
  }

  100% {
   scale:1.1;
  }
}


.register {
  margin:0px;
}

.register:hover{
  cursor: pointer;
  animation-name: hovered;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444548;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #27282d;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #444548;
}

input:focus + .slider {
  box-shadow: 0 0 1px #27282d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.editmode {
  width: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.select-box {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #27282d;
  border: none;
  cursor: pointer;
  
  &__current {
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    
    &:focus {
      & + .select-box__list {
        opacity: 1;
        border:none;
        

        animation-name: none;
        
        .select-box__option {
          cursor: pointer;
          border: none;
        }
      }
      
      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
        border: none;
      }
    }
  }
  
  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
    border: none;
  }
  
  &__value {
    display: flex;
    border: none;
    cursor: pointer;
  }
  
  &__input {
    display: none;
    border: none;
    cursor: pointer;
    
    &:checked + .select-box__input-text {
      display: block;
      border: none;
    }
  }
  
  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    border: none;
  }
  
  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    border: none;
    cursor: pointer;
    
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
  
  }
  
  &__option {
    display: block;
    padding: 15px;
    background-color: #27282d;
    border: none;
    cursor: pointer;
    
    &:hover,
    &:focus {
      color: #546c84;
      background-color: #27282d;
      border: none;
      cursor: pointer;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

.option-item{
  padding-left: 1vw;
}

.option-item:hover{
  cursor: pointer;
}

.allMapsButton:hover{
  cursor: pointer;
}
.login-button{
  margin-top: 2vh;
  background-color: #27282d;
  border: none;
}

.login-button:hover{
  cursor: pointer;
    animation-name: hovered;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.upload-button{
  margin-top: 2vh;
  background-color: #27282d;
  border: none;
  margin-bottom: 2vh;
  width:100%;
}

.newCity{
  width:15%
}

.createClickable_container{
  overflow-x: hidden;
  overflow-y: auto;
}

.loading{
  position: absolute;
  z-index: 5;
  left:50%;
}

 /* .fadeingBetweenMaps{
  width: 100%;
  height:100%;
  background-color: black;
  position:absolute;
  opacity: 0%;
} */

/* .fade{
  animation-name: increeseOpacityFade;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 9;
} */

/* @keyframes increeseOpacityFade {
  0% {
   opacity: 0%;
  }

  100%{
    opacity: 100%;
  }
} */

/* .fadeReverse{
  animation-name: increeseOpacityFade;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  z-index: 9;
}  */

.tutorial_box_low{
  border: 2px solid black;
  width:50%;
  height:25%;
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to bottom, #2f3034, #27282d 25%,#27282d 75%, #2f3034 100%);
  top:70%;
}
.tutorial_box_middle{
  border: 2px solid black;
  width:50%;
  height:25%;
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to bottom, #2f3034, #27282d 25%,#27282d 75%, #2f3034 100%);
  top:35%;
}

.spaceBetween{
  justify-content: space-between;
}

.padding-4{
  padding: 4rem;
}

.communityMapsContainer{
  width:50vw;
  height:30vh;
  overflow: hidden;
  display: flex;
}
.communityMapHolder{
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.communityMap{
  height: 85%;
}

.tickerBox{
  display:flex;
  width:10vw;
  justify-content: space-between;
}

.ticker{
  border:2px solid black;
  width:1vw;
  height:1vw;
  margin-top: 1vw;
}

.bigTicker{
  border:2px solid black;
  width:1.3vw;
  height:1.3vw;
  margin-top: 1vw;
  background-color: black;
}

.communityMapButton{
  background-color: transparent;
  border: none;
  width: 10%;
}
.communityMapButton > div{
  border: 3px solid black;
  border-radius: .5rem;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.communityMapButton > div:hover{
  animation-name: hoveredfeaturedMapButton;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes hoveredfeaturedMapButton {
  0% {
   scale:1;
  }

  100% {
   scale:1.1;
  }
}